In [3]:
import numpy as np

In [4]:
np.__version__

'1.18.1'

In [7]:
arr1=np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [12]:
arr2 = np.arange(3).reshape(3,1)
arr2

array([[0],
       [1],
       [2]])

In [13]:
arr1+arr2
#drtugi array ma tylko 1 kolumne, ale np go zduplikowal jako 3 takie same kolumny i kazda z nich dodal - BROADCASTING

array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10]])

In [14]:
arr2 = arr2.flatten()
arr2

array([0, 1, 2])

In [15]:
arr1.flatten() # spłaszczanie tablicy

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [16]:
arr1.ravel()

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [21]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [22]:
arr2

array([0, 1, 2])

In [23]:
arr1+arr2

array([[ 0,  2,  4],
       [ 3,  5,  7],
       [ 6,  8, 10]])

### Tablica wygenerowana w sposób losowy + slicing

In [25]:
np.random.seed(0)
arr3 = np.random.randint(-10, 11, size=(10,10))
arr3

array([[  2,   5, -10,  -7,  -7,  -3,  -1,   9,   8,  -6],
       [ -4,   2,  -9,  -4,  -3,   4,   7,  -5,   3,  -2],
       [ -1,  10,   9,   6,   9,  -5,   5,   5, -10,   8],
       [ -7,   7,   9,   9,   9,   4,  -3, -10,  -9,  -1],
       [-10,   0,  10,  -7,   1,   8,  -8, -10, -10,  -6],
       [ -5,  -4,  -2,  10,   7,   5,  -6,  -1,   0,  -9],
       [ -9,  -3,  -1,  -7,  -4,   1,   4,   8, -10,   4],
       [ -7,   2,   0,  10,   1,  -6,  -4,  -6,   5,  10],
       [ -7,   2,  -6,  10,  -2,   4,   5,  10,  -7,   5],
       [  3,   6,   7,  -5,  -1,  -7, -10,  -5, -10,   7]])

In [28]:
arr3[0] # pierwszy wiersz

array([  2,   5, -10,  -7,  -7,  -3,  -1,   9,   8,  -6])

In [29]:
arr3[0,2:4] # liczby od 3 do 4 z kolumny 1

array([-10,  -7])

In [30]:
arr3[:,::-1] # odwracanie kolumn

array([[ -6,   8,   9,  -1,  -3,  -7,  -7, -10,   5,   2],
       [ -2,   3,  -5,   7,   4,  -3,  -4,  -9,   2,  -4],
       [  8, -10,   5,   5,  -5,   9,   6,   9,  10,  -1],
       [ -1,  -9, -10,  -3,   4,   9,   9,   9,   7,  -7],
       [ -6, -10, -10,  -8,   8,   1,  -7,  10,   0, -10],
       [ -9,   0,  -1,  -6,   5,   7,  10,  -2,  -4,  -5],
       [  4, -10,   8,   4,   1,  -4,  -7,  -1,  -3,  -9],
       [ 10,   5,  -6,  -4,  -6,   1,  10,   0,   2,  -7],
       [  5,  -7,  10,   5,   4,  -2,  10,  -6,   2,  -7],
       [  7, -10,  -5, -10,  -7,  -1,  -5,   7,   6,   3]])

In [31]:
arr3[:,-2:] # 2 ostatnie kolumny

array([[  8,  -6],
       [  3,  -2],
       [-10,   8],
       [ -9,  -1],
       [-10,  -6],
       [  0,  -9],
       [-10,   4],
       [  5,  10],
       [ -7,   5],
       [-10,   7]])

In [32]:
arr3[:5, [1,-2]] # 5 pierwszych wierszy, kolumny 2 i 2 od konca (czyli o indeksach 1 oraz -2)

array([[  5,   8],
       [  2,   3],
       [ 10, -10],
       [  7,  -9],
       [  0, -10]])

In [33]:
arr3.shape # podaje ile jest wierszy i kolumn w array

(10, 10)

In [40]:
for i in range(arr3.shape[0]): # iteracja po wierszach
    print("="*50)
    print(arr3[i])

==================================================
[  2   5 -10  -7  -7  -3  -1   9   8  -6]
==================================================
[-4  2 -9 -4 -3  4  7 -5  3 -2]
==================================================
[ -1  10   9   6   9  -5   5   5 -10   8]
==================================================
[ -7   7   9   9   9   4  -3 -10  -9  -1]
==================================================
[-10   0  10  -7   1   8  -8 -10 -10  -6]
==================================================
[-5 -4 -2 10  7  5 -6 -1  0 -9]
==================================================
[ -9  -3  -1  -7  -4   1   4   8 -10   4]
==================================================
[-7  2  0 10  1 -6 -4 -6  5 10]
==================================================
[-7  2 -6 10 -2  4  5 10 -7  5]
==================================================
[  3   6   7  -5  -1  -7 -10  -5 -10   7]

In [41]:
for row in arr3:
    print("="*50)
    print(row)

==================================================
[  2   5 -10  -7  -7  -3  -1   9   8  -6]
==================================================
[-4  2 -9 -4 -3  4  7 -5  3 -2]
==================================================
[ -1  10   9   6   9  -5   5   5 -10   8]
==================================================
[ -7   7   9   9   9   4  -3 -10  -9  -1]
==================================================
[-10   0  10  -7   1   8  -8 -10 -10  -6]
==================================================
[-5 -4 -2 10  7  5 -6 -1  0 -9]
==================================================
[ -9  -3  -1  -7  -4   1   4   8 -10   4]
==================================================
[-7  2  0 10  1 -6 -4 -6  5 10]
==================================================
[-7  2 -6 10 -2  4  5 10 -7  5]
==================================================
[  3   6   7  -5  -1  -7 -10  -5 -10   7]

In [44]:
lista = range(1000)
lista

range(0, 1000)

In [47]:
%timeit -r 5 -n 1000 [i**2 for i in lista]

500 µs ± 10.6 µs per loop (mean ± std. dev. of 5 runs, 1000 loops each)

In [51]:
arr4 = np.arange(1000)
%timeit -r 5 -n 1000 arr4**2

2.76 µs ± 1.28 µs per loop (mean ± std. dev. of 5 runs, 1000 loops each)